.about__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about__img {
	width: clamp(19.813rem, 16.521rem + 14.63vw, 29.688rem);
	height: clamp(23.063rem, 19.208rem + 17.13vw, 34.625rem);
	position: relative;
	margin-bottom: 50px;
}
.about__img img {
	width: clamp(19.813rem, 16.521rem + 14.63vw, 29.688rem);
	height: clamp(23.063rem, 19.208rem + 17.13vw, 34.625rem);
	
}
.about__title {
	font-size: clamp(2.5rem, 2rem + 2.222vw, 4rem);
	font-weight: 700;
	color: #fff;
	padding-bottom: clamp(1rem, 0.583rem + 1.852vw, 2.25rem);
}
.about__descr {
	font-weight: 500;
	font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
	color: #fff;
}
.blur-block {
	background: rgba(255, 76, 52, 0.8);;
	border-radius: 50%;
	font-size: 230px;
	height: 2em;
	width: 2em;
	filter: blur(150px);
	top: 0;
	z-index: -1;
	position: absolute;
}
@media screen and (max-width: 480px){
	.blur-block {
		font-size: 150px;
	}
}