.info__wrapper {
	display: flex;
	align-items: center;
}
.info__img {
	position: relative;
	width: clamp(20.5rem, 18.792rem + 7.593vw, 25.625rem);
	height: clamp(20.5rem, 18.792rem + 7.593vw, 25.625rem);
	img {
		width: clamp(20.5rem, 18.792rem + 7.593vw, 25.625rem);
		height: clamp(20.5rem, 18.792rem + 7.593vw, 25.625rem);
	}
}
.info__title {
	color: #fff;
	font-weight: 700;
	font-size: clamp(2.5rem, 2rem + 2.222vw, 4rem);
	padding-bottom: clamp(1rem, 0.583rem + 1.852vw, 2.25rem);
}
.info__descr {
	font-weight: 500;
	color: #fff;
	font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
}
.blur-block-blue{
	background: rgba(163, 234, 255, 0.25);
	border-radius: 50%;
	font-size: 230px;
	height: 2em;
	width: 2em;
	filter: blur(200px);
	top: 0;
	right: 0;
	z-index: -1;
	position: absolute;
}
@media screen and (max-width: 580px) {
	.about__wrapper {
		flex-direction: column;
	}
	.info__wrapper {
		flex-direction: column-reverse;
	}
}